.expenses {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto;
  width: 500px;
  background-color: #dff6ff;
}

.expense_form {
}

.expenses_total {
  padding: 15px;
  margin-left: auto;
  color: red;
  font-weight: 500;
}
