.expense_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d8d1d1;
}

.expense_item_listing {
  margin-left: 15px;
}

.amount {
  font-size: 12px;
}

.button {
  margin-left: auto;
}
